header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.header {

    &__logo {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__cateYcarro {
        display: flex;
    }

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    &__botones {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        list-style: none;
    }


}
